@using Microsoft.AspNet.Identity
@{ViewBag.Title = "Home Page";}



<div class="container text-center">
    <div class="alert alert-info" role="alert">
        Время: 00:00:00
    </div>
    <div class="card" style="width:auto;">
        <div class="card-header">
            Вопрос №1.Какой счет используется для учета расходов на добровольное страхование сотрудников компании на срок не менее 1 года?
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            счет 60
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            счет 76
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            счет 51
            <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
           ни один из представленных
            <span class="badge badge-primary badge-pill">4</span>
        </li>
    </ul>
     
</div>
      

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="~/Scripts/umd/popper.min.js"></script>
        <script src="~/Scripts/holder.min.js"></script>
        <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>
