
@{
    ViewBag.Title = "GuessRecordIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    Общий прогресс
    <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Текст материала
   
    
</div>