
@{
    ViewBag.Title = "TrainingsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="alert alert-success text-center" role="alert">
        Рекомендуемые траектории
    </div>
    <div class="card-deck" style="max-width: 80rem;">
        <div class="card">
            <img class="card-img-top" src="~/Content/Imgs/MacroFags.jpg" alt="Card image cap" height="280">
            <a href="@Url.Action("AccountingTrainingIndex","Home")" style="text-decoration: none; color:black;">
                <div class="card-body">
                    <h5 class="card-title">Бухгалтерский учет</h5>
                    <p class="card-text">Траектория обучения включает изучение основ РСБУ, Excel 2016, 1С Бухгалтерия 3.0. Предусмотрена возможность выбора комлектации курсов: сокращение тематики программ.</p>
                </div>
            </a>
                <div class="card-footer">
                    <small class="text-muted">Стажер > Бухгалтер > Старший Бухгалтер</small>
                </div>           
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Content/Imgs/funghi_strani.png" alt="Card image cap" height="280">
            <a href="@Url.Action("AccountingTrainingIndex","Home")" style="text-decoration: none; color:black;">
                <div class="card-body">
                    <h5 class="card-title">Excel 2016 для бухгалтера</h5>
                    <p class="card-text">Программа включает приемы и методы обработки и анализа для бухгалтеров. Рассматриваются методы обработки данных из 1С Бухгалтерия 3.0</p>
                </div>
            </a>
                <div class="card-footer">
                    <small class="text-muted">Базовый > Средний > Профессиональный </small>
        </div>               
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Content/Imgs/b_mashroom.png" alt="Card image cap" height="280">
            <a href="@Url.Action("AccountingTrainingIndex","Home")" style="text-decoration: none; color:black;">
                <div class="card-body">
                    <h5 class="card-title">Excel 2016 для юриста</h5>
                    <p class="card-text">Расчет пени, штрафов и неустоек по договорам. Подготовка и печать документов для судов. Шаблоны и макеты готовых решений.</p>
                </div>
            </a>
                <div class="card-footer">
                    <small class="text-muted">Базовый</small>
                </div>            
        </div>
    </div>
</div>